// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "lang.rh"

#define APSTUDIO_READONLY_SYMBOLS
#include "winresrc.h"
#include "../sftp.rh2"
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_CFGPAGEFIRST DIALOGEX 66, 53, 205, 84
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "První stránka"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Testovací řetězec:",IDC_STATIC_1,7,10,40,8
    EDITTEXT        IDC_TESTSTRING,53,8,144,12,ES_AUTOHSCROLL | WS_GROUP
    LTEXT           "Testovací číslo:",IDC_STATIC_2,7,25,44,8
    EDITTEXT        IDC_TESTNUMBER,53,23,54,12,ES_AUTOHSCROLL | WS_GROUP
    LTEXT           "musí být menší než 10",IDC_STATIC_3,112,25,72,8
    CONTROL         "",IDC_STATIC_4,"Static",SS_ETCHEDHORZ | WS_GROUP,57,53,143,1
    LTEXT           "Zde je rozbalovací seznam",IDC_STATIC_5,5,49,52,8
    LTEXT           "Testovací seznam:",IDC_STATIC_6,15,62,44,8
    COMBOBOX        IDC_COMBO,61,60,113,50,CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP
END

IDD_CFGPAGESECOND DIALOGEX 66, 53, 205, 61
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "Druhá stránka"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "Zaškrtávací pole",IDC_CHECK,"Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,5,5,60,12
    CONTROL         "Přepínač 1",IDC_RADIO1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,5,20,60,12
    CONTROL         "Přepínač 2",IDC_RADIO2,"Button",BS_AUTORADIOBUTTON,5,32,60,12
    CONTROL         "Přepínač 3",IDC_RADIO3,"Button",BS_AUTORADIOBUTTON,5,44,60,12
END

IDD_CFGPAGEVIEWER DIALOGEX 66, 53, 205, 61
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "Prohlížeč"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Pozice okna",IDC_STATIC_1,4,6,199,41
    CONTROL         "&Uložit při zavření",IDC_CFG_SAVEPOSONCLOSE,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,11,17,63,12
    CONTROL         "N&astavit podle okna Salamandera",IDC_CFG_SETBYMAINWINDOW,
                    "Button",BS_AUTORADIOBUTTON,11,29,156,12
END

IDD_PATHDLG DIALOGEX 66, 53, 205, 79
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Zadání cesty na disku"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Cesta:",IDC_STATIC_1,7,10,40,8
    EDITTEXT        IDC_PATHSTRING,53,8,144,12,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         "Cesta k souboru (vypnuto = cesta ke složce)",IDC_FILECHECK,
                    "Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,9,31,128,12
    DEFPUSHBUTTON   "OK",IDOK,18,55,50,14,WS_GROUP
    PUSHBUTTON      "Storno",IDCANCEL,77,55,50,14
    PUSHBUTTON      "Nápověda",IDHELP,136,55,50,14
END

IDD_CONNECT DIALOGEX 20, 30, 348, 206
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "SFTP - Přihlášení"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_CATTREE,"SysTreeView32",0x800000 | 0x1 | 0x2 | 0x4 | 0x20 | WS_BORDER | WS_TABSTOP,7,7,112,170
    GROUPBOX        "Připojení",IDC_ST_PAGE0_CONNECTION,126,3,214,108
    LTEXT           "&Hostitel:",IDC_ST_PAGE0_HOST,133,15,90,8
    EDITTEXT        IDC_HOST,133,25,150,12,ES_AUTOHSCROLL | WS_GROUP
    LTEXT           "Číslo &portu:",IDC_ST_PAGE0_PORT,290,15,46,8
    EDITTEXT        IDC_PORT,290,25,44,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "&Uživatelské jméno:",IDC_ST_PAGE0_USER,133,43,100,8
    EDITTEXT        IDC_USER,133,53,98,12,ES_AUTOHSCROLL
    LTEXT           "H&eslo:",IDC_ST_PAGE0_PASSWORD,237,43,97,8
    EDITTEXT        IDC_PASSWORD,237,53,83,12,ES_AUTOHSCROLL | ES_PASSWORD
    PUSHBUTTON      "",IDC_PWDEYE,321,52,15,13
    LTEXT           "Soubor privátního &klíče:",IDC_ST_PAGE0_KEYFILE,133,71,170,8
    EDITTEXT        IDC_KEYFILE,133,81,182,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_KEYBROWSE,318,81,16,12
    GROUPBOX        "Protokol",IDC_ST_PAGE0_PROTOCOL,126,115,214,32
    LTEXT           "Přenosový &protokol:",IDC_ST_PAGE0_PROTOCOL_LABEL,133,130,80,8
    COMBOBOX        IDC_PROTOCOL,216,128,52,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Povolit záložní &SCP",IDC_SCPFALLBACK,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,278,125,58,18
    LTEXT           "Výchozí vzdálený &adresář na serveru:",IDC_ST_PAGE2_DIR,126,15,210,8
    EDITTEXT        IDC_PATH,126,27,214,12,ES_AUTOHSCROLL
    GROUPBOX        "Šifrování a komprese",IDC_ST_PAGE3_ENCRYPTION,126,3,214,108
    CONTROL         "Použít &kompresi přenosu (zlib)",IDC_SSHCOMPRESS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,133,16,180,10
    LTEXT           "Kódování &názvů souborů:",IDC_ST_PAGE3_ENCODING,133,32,110,8
    COMBOBOX        IDC_ENCODING,133,42,110,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Šifry, výměna klíčů i typy klíčů se vyjednávají se serverem automaticky (včetně moderních: curve25519, ECDH/ECDSA, ed25519, AES-GCM, ChaCha20-Poly1305).",IDC_ST_PAGE3_CIPHERS,133,62,200,44
    GROUPBOX        "Možnosti SFTP protokolu",IDC_ST_PAGE4_SFTP,126,3,214,108
    LTEXT           "SFTP &server:",IDC_ST_PAGE4_SFTPSERVER,133,16,200,8
    EDITTEXT        IDC_SFTPSERVER,133,28,200,12,ES_AUTOHSCROLL
    LTEXT           "Vlastní příkaz nebo cesta pro spuštění SFTP serveru na vzdáleném hostiteli (např.: sudo su -c /usr/lib/openssh/sftp-server).\r\n\r\nPonechte prázdné pro použití výchozího SFTP server subsystému.",IDC_ST_PAGE4_SFTPSERVER_NOTE,133,46,200,48
    LISTBOX         IDC_SESSIONS,126,3,148,170,LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP | NOT WS_VISIBLE
    PUSHBUTTON      "&Nové",IDC_SESS_NEW,280,3,60,14,NOT WS_VISIBLE
    PUSHBUTTON      "&Upravit",IDC_SESS_EDIT,280,21,60,14,NOT WS_VISIBLE
    PUSHBUTTON      "S&mazat",IDC_DELSESSION,280,39,60,14,NOT WS_VISIBLE
    PUSHBUTTON      "Přejm&enovat",IDC_SESS_RENAME,280,57,60,14,NOT WS_VISIBLE
    PUSHBUTTON      "Nová &složka",IDC_SESS_FOLDER,280,75,60,14,NOT WS_VISIBLE
    PUSHBUTTON      "Nastavit jako &výchozí",IDC_SESS_DEFAULT,280,93,60,14,NOT WS_VISIBLE
    CONTROL         "&Pokročilé volby",IDC_ADVANCED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,187,90,10
    DEFPUSHBUTTON   "Přihlás&it",IDOK,181,186,52,14,WS_GROUP
    PUSHBUTTON      "&Uložit...",IDC_SAVESESSION,236,186,50,14
    PUSHBUTTON      "&Zavřít",IDCANCEL,289,186,52,14
END

IDD_CHMOD DIALOGEX 30, 40, 200, 70
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Změna oprávnění (chmod)"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Unixová oprávnění v osmičkové soustavě (např. 644 nebo 755):",IDC_STATIC_1,7,9,186,8
    EDITTEXT        IDC_CHMODVAL,7,21,60,12,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP
    DEFPUSHBUTTON   "OK",IDOK,45,48,50,14,WS_GROUP
    PUSHBUTTON      "Storno",IDCANCEL,105,48,50,14
END

IDD_INPUT DIALOGEX 30, 40, 240, 78
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "SFTP - Ověření"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "",IDC_INPUTPROMPT,7,8,226,24
    EDITTEXT        IDC_INPUTVAL,7,36,226,12,ES_AUTOHSCROLL | WS_GROUP
    DEFPUSHBUTTON   "OK",IDOK,65,56,50,14,WS_GROUP
    PUSHBUTTON      "Storno",IDCANCEL,125,56,50,14
END

IDD_PROGRESSDLG DIALOGEX 18, 80, 353, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Mazání",IDC_STATIC_1,3,11,37,8
    CONTROL         "",IDT_FILENAME,"Static",SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_GROUP,43,11,305,8
    RTEXT           "Celkem:",IDC_STATIC_2,16,35,24,8
    CONTROL         "",IDP_PROGRESSBAR,"Static",0,43,34,297,12
    PUSHBUTTON      "Storno",IDCANCEL,151,57,50,14
END

IDD_CMDEXEC DIALOGEX 0, 0, 480, 260
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Výstup příkazu"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "",IDC_CMD_INFO,7,6,466,10,SS_LEFTNOWORDWRAP
    EDITTEXT        IDC_CMD_OUTPUT,7,18,466,214,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "&Zrušit",IDC_CMD_BTN,423,238,50,14,WS_GROUP
END

#include "lang.rc2"
